.fire-container {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}

.fire {
  position: absolute;
  object-fit: contain;
  width: 58px;
  margin: auto;

  &:first-child {
    left: 0;
  }

  &:nth-child(2) {
    left: calc((100% + 20px) / 3 - 49px);
    right: calc(100% - (100% + 20px) / 3 - 29px);
  }

  &:nth-child(3) {
    left: calc(100% - (100% + 20px) / 3 - 29px);
    right: calc((100% + 20px) / 3 - 49px);
  }

  &:last-child {
    right: 0;
  }
}