.section-history {
  display: grid;
  grid-template-columns: 50% 50%;
  box-sizing: content-box;

  &_block{
    &:first-child{
      border-right: var(--default-border);
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: end;


      h3 {
        font-size: var(--h3-font-size);
        font-weight: normal;
        text-align: center;
        max-width: 18ch;
        margin-block-start: 0;
        margin-block-end: 0;
      }
    }
    &:last-child{
      position: relative;

      .background-for-text {
        z-index: 0;
        width: 100%;
        position: relative;
        object-fit: contain;
      }
    }
  }
}

@media (max-width: 960px) {
  .section-history {
    display: block;

    &_block:first-child {
      border-right: none;

      .banner {
        border-bottom: var(--default-border);
      }
    }
  }
}