.pre-footer {
  position: relative;

  &_content {
    padding: var(--default-padding);
    position: relative;

    .background {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
    }

    .frame {
      width: 100%;
      height: 100%;
      position: relative;
      object-fit: contain;
    }

    .foreign-text {
      position: absolute;
      left: calc(100% * 247 / 1354);
      right: calc(100% * 247 / 1354);
      top: calc(100% * 107 / 716);
    }
  }

}