.section-catalog {
  padding: 28px 20px;
  position: relative;
  overflow: hidden;

  &_content {
    min-width: 974px;
    position: relative;
  }
}

@media (max-width: 1024px) {
  .section-catalog {
    overflow: scroll;
  }
}